controller:
  service:
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-resource-group: "MC_mc-demo-dev-rg_mc-demo-dev-aks_westus3"
      service.beta.kubernetes.io/azure-pip-name: mc-demo-dev-ingress-ip
    loadBalancerIP: "57.154.70.117"

